<p id="notice"><%= notice %></p>

<h1></h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <form id="search" action="/search/" method="get">
    <input type="text" name="query">
    <input type="submit" value="検索">
  </form>


  <div class="maincontent">
    <div class="boxes" id="">
      <div class="boxes-title">
        <img src="">
        コメント待ちアイディア
      </div>
      <div class="flex-center">
        <% @ideas.each do |idea| %>
            <div class="single-box flex-item">
              <%= link_to(image_tag(idea.idea_images.first.url, class: "box_image"), idea)%>
              <p>
                <%= link_to idea.title, idea %>
              </p>
              <p>
                <%= link_to idea.user.username || "不明" , idea%>
              </p>
            </div>
        <% end %>
      </div>
      <div class="more">
        もっと見る
      </div>
    </div>
  </div>
  </tbody>
</table>

<br>

